@model RecruitmentApplication.Models.OffreCandidate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OffreCandidate</h4>
<hr />
<div class="row">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offre.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offre.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Framework)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Framework)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Langue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Langue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.StageExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.StageExperience)
        </dd>
    </dl>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidateId" />
            <input type="hidden" asp-for="OffreId" />
           @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                <option value="EnAttente"> EnAttente</option>
                <option value="Acceptees">Accepté(e)</option>
                <option value="Rejetees">Rejeté(e)</option>
            </select>
            <span asp-validation-for="Status"></span>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="lescandidaturesSelonOffre">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
