


@model IEnumerable<RecruitmentApplication.Models.OffreCandidate>

@{
    ViewData["Title"] = "Applications According to Offer";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 0px;
        }

        h1 {
            color: #007bff;
        }

        table {
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
        }

        th, td {
            text-align: center;
        }

        th {
            background-color: #007bff;
           
        }

        .edit-link {
            color: #007bff;
        }

        .edit-link:hover {
            text-decoration: none;
            color: #0056b3;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Offre.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Candidate.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Candidate.Framework)</th>
                <th>@Html.DisplayNameFor(model => model.Candidate.University)</th>
                <th>@Html.DisplayNameFor(model => model.Candidate.Langue)</th>
                <th>@Html.DisplayNameFor(model => model.Candidate.GithubUrl)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Offre.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Candidate.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Candidate.Framework)</td>
                    <td>@Html.DisplayFor(modelItem => item.Candidate.University)</td>
                    <td>@Html.DisplayFor(modelItem => item.Candidate.Langue)</td>
                    <td>@Html.DisplayFor(modelItem => item.Candidate.GithubUrl)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                            @Html.ActionLink("Edit", "Edit", new {  idOffre=item.OffreId, idCandidate = item.CandidateId }) |
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
