@model IEnumerable<RecruitmentApplication.Models.Offre>

@{
    ViewData["Title"] = "AllOffres";
}

<h1>AllOffres</h1>
<form class="form-inline my-2 my-lg-0" asp-controller="Candidates" asp-action="Filter" style="padding-right: 25px;">
    <div class="col">
        <input name="searchString" type="text" class="form-control" placeholder="Search for a actors..." aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruteur)
            </th>

            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
     <td>
                    @Html.DisplayFor(modelItem => item.Recruteur.Name)
                </td>
           


        </tr>
}
    </tbody>
</table>
